<div id="calendar-outer">
  <div id="calendar-month-year">
    {{ title }}
  </div>
  <div id="calendar-dummy"></div>
  <div id="calendar-inner">
    <i class="prev-arrow glyphicon glyphicon-arrow-left" (click)="prevMonth()"></i>
    <i class="next-arrow glyphicon glyphicon-arrow-right" (click)="nextMonth()"></i>
    <div class="col-heading" *ngFor="let heading of headings">
      {{ heading }}
    </div>
    <div *ngFor="let date of dates; let i = index;" class="col-cal-outer" [class.previous-month]="date.prevMonth" ngModel="dates[i]" (click)="sendEvent(date)">
      <div class="col-cal-dummy"></div>
      <div class="col-cal-inner"><strong>{{ date.date }}</strong></div>
    </div>
  </div>
</div>