body {
    background: orange;
}

#calendar-outer {
    width: 95%;
    margin: 50px auto;
    border: 1px solid #7CB2F3;
    display: block;
    position: relative;
}

#calendar-dummy {
    margin-top: 90%;
}

#calendar-inner {
    margin: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#calendar-month-year {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 24pt;
    color: #7CB2F3;
}

.col-heading {
    color: #7CB2F3;
    display: inline-block;
    width: 14.285714%;
    text-align: center;
    font-weight: bold;  
    margin-bottom: 10px;  
}

.col-cal-outer {
    width: 14.285714%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}

.col-cal-dummy {
    margin-top: 100%;
}

.col-cal-inner {
    border: 1px solid #7CB2F3;
    box-shadow: 2px 2px #7CB2F3;
    color: #7CB2F3;
    position: absolute;
    margin: 5%;
    padding: 3%;
    top: -6px;
    right: 0;
    bottom: 0;
    left: 0;
}

.col-cal-inner:hover {
    background: #7CB2F3;
    color: white;
    cursor: pointer;
}

.next-arrow, .prev-arrow {
    position: absolute;
    font-size: 16pt;
    font-weight: bold;
    color: #7CB2F3;  
}

.next-arrow {
    right: -30px;
    top: 50%;
}

.prev-arrow {
   left: -30px;
   top: 50%;
}